

$iconColor: rgb(0, 180, 255);

.stepper-wrapper {

  position: absolute;

  // width: 1024px;
  height: 50px;
  
  left: 0;
  right: 0;

  bottom: 36px;

  

  text-align: center;

  // border: 1px solid red;

  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none;      

  -o-user-select: none;
  user-select: none;

}

.stepper {
  
  display: inline-block;

  // Inline block hack!
  font-size: 0;

  border: 2px solid $iconColor;

  border-radius: 24px;

  background-color: #FFFFFF;
}

.stepper-icon {

  display: inline-block;

  width: 48px;
  height: 48px;

  position: relative;

  cursor: pointer;

  // background-color: #FFFFFF;

  // border-radius: 50%;

  font-family: 'iRokusPlusIcons';
  font-weight: normal;
  font-size: 42px;
  color: $iconColor;
}

.stepper-icon:hover {
  // color: darken($iconColor, 15%);
}


.backward:after,
.forward:after  {

  content: "";

  position: absolute;
  
  top: 4px;
  left: 0;
  right: 0;

  text-align: center;
}


.backward:after {
  content: "\e019";
}

.forward:after {
  content: "\e01a";
}

.forward {
  margin-left: -1px;
}



.stepper-text-wrapper {

  display: inline-block;

  margin: 0 0 0 0;
}


.stepper-text {

  display: table;

  height: 48px;

  text-align: center;

  font-family: 'Open Sans';
}

.stepper-text p {

  display: table-cell;

  vertical-align: middle;

  font-size: 19px;
  // color: rgb(127, 127, 127);
}

.stepper-text p span {
  color: $iconColor;
}

.steps-slash {
  display: inline-block;
  transform: translateY(-1px);
}