
// $defaultWidth: 1024px;
// $defaultHeight: 768px;


$defaultWidth: 100%;
$defaultHeight: 100%;


// Icons color
$primaryBlue: rgb(0, 180, 255);
// Icons ACTIVE color
$primaryBlueDark: darken( $primaryBlue, 10% );